[include]
    path = ./.gitidentity
[alias]
    co = checkout
    dog = log --all --decorate --oneline --graph
    fap = fetch --all --prune
    fzadd = !git -c color.status=always status --short | fzf --ansi -m | sed 's/^\\s*//g' | cut -d' ' -f2- | xargs git add
    fzbrrm = !git branch -a | cut -c3- | fzf -m --ansi --preview 'git show --color=always {}' | xargs -I{} git branch -D {}
    l = log --no-merges
    logo = log --oneline
    rebase-renamed = git rebase --strategy-option="rename-threshold=10"
    st = status --short
    stashow = stash show -p
    undorebase = reset --hard ORIG_HEAD
    where = config --get remote.origin.url
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
[merge]
    tool = nvim
