[include]
    path = ./.gitidentity
[alias]
    co = checkout
    diffcat = diff --no-prefix -U1000
    dog = log --all --decorate --oneline --graph
    fap = fetch --all --prune
    l = log --no-merges
    last = show HEAD --name-status
    logo = log --oneline
    rebase-renamed = git rebase --strategy-option="rename-threshold=10"
    st = status --short
    stashow = stash show -p
    undorebase = reset --hard ORIG_HEAD
    where = config --get remote.origin.url
[core]
    pager = diffr | less -R
[merge]
    tool = meld
