[include]
    path = ./.gitidentity
[alias]
    co = checkout
    dog = log --all --decorate --oneline --graph
    fap = fetch --all --prune
    last = show HEAD --name-status
    logo = log --oneline
    l = log --no-merges
    rebase-renamed = git rebase --strategy-option="rename-threshold=10"
    st = status --short
    stashow = stash show -p
    undorebase = reset --hard ORIG_HEAD
    upmaster = !git checkout master && git fap && git rebase origin/master
    wipe = clean -i -e '\\.*' -e 'tags' -e 'compile_commands.json'
    diffcat = diff --no-prefix -U1000
[core]
    pager = diffr \
        --colors refine-added:none:background:0x33,0x99,0x33:bold \
        --colors added:none:background:0x33,0x55,0x33 \
        --colors refine-removed:none:background:0x99,0x33,0x33:bold \
        --colors removed:none:background:0x55,0x33,0x33 \
        | less
[merge]
    tool = meld
